USE [master]
GO
/****** Object:  Database [TourMate_Bid]    Script Date: 7/5/2025 1:22:47 PM ******/
CREATE DATABASE [TourMate_Bid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Bid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Bid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Bid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Bid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Bid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Bid]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 7/5/2025 1:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[bidId] [int] IDENTITY(1,1) NOT NULL,
	[tourBidId] [int] NOT NULL,
	[tourGuideId] [int] NOT NULL,
	[amount] [real] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[status] [nvarchar](255) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourBid]    Script Date: 7/5/2025 1:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourBid](
	[tourBidId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[isDeleted] [bit] NOT NULL,
	[placeRequested] [int] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[maxPrice] [real] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourBidComment]    Script Date: 7/5/2025 1:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourBidComment](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[tourBidId] [int] NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[isDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikeBid]    Script Date: 7/5/2025 1:22:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikeBid](
	[accountId] [int] NOT NULL,
	[tourBidId] [int] NOT NULL,
	[likeId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
